@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="footer_wrapper">
    <div class="container">
        <div class="row">
            <div class="span12">
                <footer><div class="copyright">HBBGES   ©@DateTime.Now.Year.ToString() @hbb_ges.Resources.Language.footer &nbsp; | &nbsp;</footer>
            </div>
        </div>
    </div>
</div>

<div class="shadow1_wrapper">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="shadow1"><img src="/images/shadow1.png" alt="" class="img"></div>
            </div>
        </div>
    </div>
</div>